server:
  port: 9000
  servlet:
    context-path: /project
  error:
    path: /error


spring:
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: scott
    password: tiger
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
    pathmatch:
      matching-strategy: ant-path-matcher
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB
     

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.acorn2.plec.**
  configuration:
    map-underscore-to-camel-case: true
    call-setters-on-nulls: true
    jdbc-type-for-null: NULL


logging:
  config: classpath:log4j/log4j2_local.xml
  level:
    org.springframework.cache: debug


file:
  location: C:\data

login-add-patterns:
  - /api/users/**
  - /api/notice/*/*
  - /api/notice
  - /api/faq/**
  - /api/qnaboard/*
  - /api/qnaboard/*/*
  - /api/lecture/*/*
login-exclude-patterns:
  - /api/users/login
  - /api/users
  - /api/users/checkid
  - /api/users/isYN
  - /api/faq/faq-list
  - /api/faq/*/faqOne
  - /api/lecture/lectureList
  - /api/users/profile/{profileNum}
manager-add-patterns:
  - /api/notice/*/*
  - /api/notice
  - /api/users/list
  - /api/faq/*/*
  - /api/lecture/*/*
  - /api/lectureReview/*/*
  - /api/lectureStudent/*/*
  - /api/lecture/lecutureInsert
  - /api/lecture/{lecNum}/lecture-update
  - /api/lecture/{lecNum}/lectureDelete
  - /api/faq/*
manager-exclude-patterns:
  - /api/users/login
  - /api/users
  - /api/users/checkid
  - /api/lecture/lectureList
  - /api/lecture/{lecNum}/image
  - /api/lecture/{lecNum}/lecture-one
  - /api/lecture-review/LectureReviewList
  - /api/lecture-review/Lecture-review-insert
  - /api/faq/faq-list
  - /api/faq/*/faqOne