<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn2.plec.api.faq.dao.FaqDao">

	<select id="selectFaqList" parameterType="com.acorn2.plec.api.faq.dto.req.FaqReadReqDto" resultType="com.acorn2.plec.api.faq.dto.res.FaqReadResDto">
		SELECT
			*
		FROM (
			SELECT
				result1.*
				, ROWNUM AS rnum
			FROM (
				SELECT 
					faq_num
					, question
					, content
					, user_regdate
					, update_date
					, update_id
					, faq_writer
					, delete_Yn_code
				FROM FAQ
				<where>
					delete_Yn_code='N'
				</where>
				ORDER BY faq_num DESC) result1)
		WHERE rnum BETWEEN #{rowStart} AND #{rowEnd}
	</select>

	<select id="selectFaqCount" parameterType="com.acorn2.plec.api.faq.dto.req.FaqReadReqDto" resultType="java.lang.Integer">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM FAQ
		<where>
			delete_Yn_code='N'
		</where>
	</select>

	<select id="selectFaq" parameterType="com.acorn2.plec.api.faq.dto.req.FaqReadReqDto" resultType="com.acorn2.plec.api.faq.dto.res.FaqReadDetailResDto">
		SELECT result1.*
		FROM
			(SELECT faq_num, question, content, user_regdate, faq_writer, update_date, update_id, delete_YN_code
			FROM FAQ
			<where>
				delete_YN_code='N'
			</where>
			) result1
		WHERE faq_num=#{faqNum}
	</select>

	<insert id="insertFaq" parameterType="com.acorn2.plec.api.faq.dto.FaqDto">
		INSERT INTO FAQ
		(faq_num, question, content, faq_writer, user_regdate, delete_YN_code)
		VALUES(faq_seq.NEXTVAL, #{question}, #{content}, #{faqWriter}, SYSDATE, 'N')
	</insert>

	<update id="updateFaq" parameterType="com.acorn2.plec.api.faq.dto.FaqDto">
		UPDATE FAQ
		<set>
			<if test="question != null">
				question=#{question},
			</if>
			<if test="content != null">
				content=#{content},
			</if>
			update_id=#{updateId},
			update_date=SYSDATE
		</set>
		WHERE faq_num=#{faqNum}
	</update>

	<update id="deleteUpdateFaq" parameterType="Integer">
		UPDATE FAQ
		<set>
			delete_Yn_code='Y'
		</set>
		WHERE faq_num=#{faqNum}
	</update>

	<delete id="deleteFaq">
		DELETE FROM FAQ
		WHERE delete_YN_code='Y'
	</delete>

</mapper>