<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn2.plec.faq.dao.FaqDao">
	
	<insert id="insertFaq" parameterType="com.acorn2.plec.faq.dto.FaqDto" >
		INSERT INTO FAQ
		(faq_num,question,content,faq_writer, user_regdate)
		VALUES(faq_seq.NEXTVAL, #{question}, #{content}, #{faqWriter}, SYSDATE )
	</insert>
	
	<update id="deleteFaq" parameterType="int">
		UPDATE FAQ
		SET delete_yn_code='Y'
		WHERE faq_num=#{faqNum}
	</update>
	
	<update id="updateFaq" parameterType="com.acorn2.plec.faq.dto.FaqDto">
		UPDATE FAQ
		SET question=#{question}, content=#{content}, update_id=#{updateId}, update_date=SYSDATE
		WHERE faq_num=#{faqNum}
	</update>
	
	<select id="selectFaqList" parameterType="com.acorn2.plec.faq.dto.req.FaqReadReqDto" resultType="com.acorn2.plec.faq.dto.res.FaqReadResDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT faq_num, question, content, user_regdate, update_date,
				 	update_id, faq_writer, delete_yn_code
				FROM FAQ
				WHERE delete_yn_code='N'
				ORDER BY faq_num DESC) result1)
		 WHERE rnum BETWEEN #{rowStart} AND #{rowEnd}
				
	</select>
	
	<select id="FaqOne" parameterType="int" resultType="com.acorn2.plec.faq.dto.FaqDto">
     	SELECT faq_num, question, content
		FROM FAQ
		WHERE faq_num=#{faqNum}
   </select>
   
   	<select id="selectFaqCount" parameterType="com.acorn2.plec.faq.dto.req.FaqReadReqDto" resultType="java.lang.Integer">
   		SELECT NVL(MAX(ROWNUM), 0)
		FROM FAQ
	</select>
	
	<delete id="Faqdelete" >
      DELETE FROM FAQ
      WHERE delete_YN_code='Y'
   </delete>
</mapper>