<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn2.FinalProject.lectureReview.dao.LectureReviewDao">

	<select id="selectLectureReivewCount" parameterType="com.acorn2.FinalProject.lectureReview.dto.req.LectureReviewReadReqDto" resultType="java.lang.Integer">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM LECTURE_REVIEW
	</select>

	<select id="getList" parameterType="com.acorn2.FinalProject.lectureReview.dto.req.LectureReviewReadReqDto" resultType="com.acorn2.FinalProject.lectureReview.dto.res.LectureReviewReadResDto">
     SELECT *
      FROM
         (SELECT result1.*, ROWNUM AS rnum
         FROM
            (SELECT num, writer, content, target_id, ref_group, star,
               comment_group, deleted, LECTURE_REVIEW.regdate, profile
            FROM LECTURE_REVIEW
            INNER JOIN users
            ON LECTURE_REVIEW.writer=users.id
            WHERE ref_group=#{ref_group}
            ORDER BY comment_group ASC, num ASC) result1)
      WHERE rnum BETWEEN #{rowStart} AND #{limit}   
   </select>   
   
  
</mapper>