<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn2.FinalProject.lecture.dao.LectureDao">
	
	<select id="lectureList" parameterType="com.acorn2.FinalProject.lecture.dto.LectureDto" resultType="com.acorn2.FinalProject.lecture.dto.LectureDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT LEC_NUM, TEACHER, LEC_WRITER, TITLE, DESCRIBE ,VIDEOPATH, VIEWCOUNT, 
					USER_REGDATE, LARGE_CATEGORY, SMALL_CATEGORY
				FROM LECTURE
				<choose>
						<when test='smallCategory=="0"'>
							WHERE LARGE_CATEGORY=#{largeCategory}
						</when>
						<when test="smallCategory!=null">
							WHERE LARGE_CATEGORY=#{largeCategory} AND SMALL_CATEGORY=#{smallCategory}
						</when>
				</choose>
				ORDER BY LEC_NUM DESC) result1)
		WHERE rnum BETWEEN #{rowStart} AND #{rowEnd}
	</select>
	
	<select id="selectLectureCount" parameterType="com.acorn2.FinalProject.lecture.dto.req.LectureReadReqDto" resultType="java.lang.Integer">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM LECTURE
	</select>
	
	<select id="lectureOne" parameterType="int" resultType="com.acorn2.FinalProject.lecture.dto.LectureDto">
		SELECT LEC_NUM, TEACHER, LEC_WRITER, TITLE, DESCRIBE ,VIDEOPATH, VIEWCOUNT, 
					USER_REGDATE, LARGE_CATEGORY, SMALL_CATEGORY
		FROM LECTURE
		WHERE LEC_NUM = #{lecNum}
	</select>
	
	<insert id="lectureInsert" parameterType="com.acorn2.FinalProject.lecture.dto.LectureDto">
		INSERT INTO LECTURE
		(LEC_NUM, TEACHER, LEC_WRITER, TITLE, DESCRIBE,
		VIDEOPATH, VIEWCOUNT, USER_REGDATE, LARGE_CATEGORY,SMALL_CATEGORY)
		VALUES(LECTURE_seq.NEXTVAL, #{teacher}, #{lecWriter}, #{title}, #{describe}, #{videoPath}, #{viewCount}, SYSDATE, #{largeCategory}, #{smallCategory} )
	</insert>
	
	<update id="addViewCount" parameterType="int">
		UPDATE LECTURE
		SET VIEWCOUNT=VIEWCOUNT+1
		WHERE LEC_NUM=#{lecNum}
	</update>
	
	<update id="update" parameterType="com.acorn2.FinalProject.lecture.dto.LectureDto">
		UPDATE LECTURE
		SET TITLE= #{TITLE}, TEACHER=#{TEACHER},DESCRIBE=#{DESCRIBE}, VIDEOPATH=#{VIDEOPATH}, LARGE_CATEGORY=#{largeCategory},SMALL_CATEGORY=#{smallCategory}
		WHERE LEC_NUM = #{lecNum}
	</update>
	
	<update id="lectureDelete" parameterType="int">
	    UPDATE LECTURE
	    SET SERVICE_YN_CODE='N'
	    WHERE LEC_NUM=#{lecNum}
	</update>
</mapper>