<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn2.FinalProject.lectureReview.dao.LectureReviewDao">

	<select id="selectLectureReivewCount" parameterType="com.acorn2.plec.lectureReview.dto.req.LectureReviewReadReqDto" resultType="java.lang.Integer">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM LECTURE_REVIEW
	</select>

	<select id="LectureReviewList" parameterType="com.acorn2.plec.lectureReview.dto.req.LectureReviewReadReqDto" resultType="com.acorn2.plec.lectureReview.dto.res.LectureReviewReadResDto">
	     SELECT *
	      FROM
	         (SELECT result1.*, ROWNUM AS rnum
	         FROM
	            (SELECT LEC_RE_NUM, LEC_RE_WRITER, CONTENT, LEC_RE_STU_REF_GROUP, STAR,
	               DELETE_YN, LECTURE_REVIEW.USER_REGDATE
	            FROM LECTURE_REVIEW
	            INNER JOIN users
	            ON LECTURE_REVIEW.lec_re_writer=users.LEC_USER_ID
	            WHERE LEC_RE_STU_REF_GROUP=#{lecReStuRefGroup} AND DELETE_YN='N'
	            ORDER BY LEC_RE_NUM ASC) result1)
	     WHERE rnum BETWEEN #{rowStart} AND #{rowEnd}   
   </select>   
   
	<insert id="insertLectureReview" parameterType="com.acorn2.plec.lectureReview.dto.LectureReviewDto">
		INSERT INTO LECTURE_REVIEW
		(LEC_RE_NUM, LEC_RE_WRITER, CONTENT, LEC_RE_STU_REF_GROUP, STAR,USER_REGDATE)
		VALUES(#{lecReNum},#{lecReWriter},#{content},#{lecReStuRefGroup},#{star},SYSDATE)
	</insert> 
	
	<update id="deleteLectureReview" parameterType="int">
	    UPDATE LECTURE_REVIEW
	    SET DELETE_YN='Y'
	    WHERE LEC_RE_NUM=#{lecReNum}
	</update>
	
	<update id="updateLectureReview" parameterType="com.acorn2.plec.lectureReview.dto.LectureReviewDto">
		UPDATE LECTURE_REVIEW
     	SET CONTENT=#{content}, STAR=#{star}, UPDATE_DATE=SYSDATE
     	WHERE LEC_RE_NUM=#{lecReNum}
	</update>
	
	<select id="LectureReviewOne" parameterType="int" resultType="com.acorn2.plec.lectureReview.dto.LectureReviewDto">
		SELECT LEC_RE_NUM,LEC_RE_WRITER,CONTENT,LEC_RE_STU_REF_GROUP,DELETE_YN,USER_REGDATE,star
		FROM LECTURE_REVIEW
		WHERE LEC_RE_NUM=#{lecReNum}
	</select>
	
	<delete id="batchDeleteLectureReview" >
      DELETE FROM LECTURE_REVIEW
      WHERE DELETE_YN='Y'
   </delete>
</mapper>