<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn2.FinalProject.lectureStudent.dao.LectureStudentDao">

	<select id="SelectLectureStudentCount" parameterType="com.acorn2.FinalProject.lectureStudent.dto.req.LectureStudentReadReqDto" resultType="java.lang.Integer">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM LECTURE_STUDENT
	</select>
	
	<select id="LectureStudentList" parameterType="com.acorn2.FinalProject.lectureStudent.dto.req.LectureStudentReadReqDto" resultType="com.acorn2.FinalProject.lectureStudent.dto.res.LectureStudentReadResDto">
	  SELECT *
			FROM	
				(SELECT result1.*, ROWNUM as rnum
				FROM
					(SELECT users.id,TO_CHAR(birth,'YYYY-MM-DD') birth, phone, email, User_Regdate, large_category, small_category
					FROM users 
					JOIN LECTURE_STUDENT
					ON users.id=LECTURE_STUDENT.Lec_Stu_User_Id
					JOIN LECTURE 
					on LECTURE.lec_Num=LECTURE_STUDENT.lec_Stu_Ref_Group
					
					<where>
						<if test="Lec_Stu_User_Id != null">AND Lec_Stu_User_Id LIKE '%'||#{Lec_Stu_User_Id}||'%'</if>
						<if test="birth != null">AND birth LIKE '%'||#{birth}||'%'</if>
						<if test="phone != null">AND phone LIKE '%'||#{phone}||'%'</if>
						<if test="email != null">AND email LIKE '%'||#{email}||'%'</if>
						<if test="User_Regdate != null">AND User_Regdate LIKE '%'||#{User_Regdate}||'%'</if>
						<if test='small_category=="0"'>AND large_category=#{large_category}</if>
						<if test="small_category!=null">AND large_category=#{large_category} AND small_category=#{small_category}</if>
					</where>
					ORDER BY users.id DESC) result1)				
			<![CDATA[		
			WHERE rnum BETWEEN #{rowStart} AND #{rowEnd}
			]]>
	</select>   
	
</mapper>