<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn2.plec.api.users.profile.dao.ProflieDao">
	
	 <insert id="insertProfile" parameterType="com.acorn2.plec.api.users.profile.dto.ProfileDto">
	 	INSERT INTO profile_image
      	(lec_user_id, mimetype, original_name, data, regdate)
      	VALUES(#{lecUserId}, #{mimetype}, #{originalName}, #{data}, SYSDATE)
	 </insert>
	 
	 <select id="selectProfile" parameterType="String" resultType="com.acorn2.plec.api.users.profile.dto.ProfileDto">
	 	SELECT lec_user_id, mimetype, original_name, data, regdate, update_regdate
	 	FROM profile_image
	 	WHERE lec_user_id = #{lecUserId}
	 </select>
	 
	 <update id="updateProfile" parameterType="com.acorn2.plec.api.users.profile.dto.ProfileDto">
	 	UPDATE profile_image
	 	SET mimetype = #{mimetype}, original_name = #{originalName}, data = #{data}, update_regdate = SYSDATE
	 	WHERE lec_user_id = #{lecUserId}
	 </update>
	 
	  <update id="deleteUpdateProfile" parameterType="String">
	 	UPDATE profile_image
	 	SET delete_YN_code = 'Y'
	 	WHERE lec_user_id = #{lecUserId}
	 </update>
	 
	 <delete id="deleteProfile">
	 	DELETE profile_image
	 	WHERE delete_YN_code = 'Y'
	 </delete>

</mapper>










