<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn2.plec.api.qnafree.dao.QnaFreeDao">

	<sql id="searchCondition">
      <choose>
         <when test="title != null and content != null">
            WHERE title LIKE '%'||#{title}||'%' 
            OR content LIKE '%'||#{content}||'%'
         </when>
         <when test="title != null">
            WHERE title LIKE '%'||#{title}||'%'
         </when>
         <when test="freeQuestionWriter != null">
            WHERE free_question_writer LIKE '%'||#{freeQuestionWriter}||'%'
         </when>
      </choose>
	</sql>
	
	<select id="selectQnaFreeCount" parameterType="com.acorn2.plec.api.qnafree.dto.req.QnaFreeReadReqDto" resultType="java.lang.Integer">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM qna_free_question
		<where>
			delete_YN_code='N'		
			<include refid="searchCondition"/>
		</where>
	</select>
	
	<select id="selectQnaFreeList" parameterType="com.acorn2.plec.api.qnafree.dto.req.QnaFreeReadReqDto" resultType="com.acorn2.plec.api.qnafree.dto.res.QnaFreeReadResDto">
		SELECT *
      	FROM
         (SELECT result1.*, ROWNUM AS rnum
          FROM
            (SELECT free_question_num,free_question_writer,title,content,viewCount,user_regdate,answered_yn
             FROM qna_free_question
             <where>
             	delete_YN_code='N'
             	<include refid="searchCondition"/>
             </where>
             ORDER BY free_question_num DESC) result1)
        WHERE rnum BETWEEN #{rowStart} AND #{rowEnd}
		
	</select>
	
	<select id="selectQnaFree" parameterType="com.acorn2.plec.api.qnafree.dto.req.QnaFreeReadReqDto" resultType="com.acorn2.plec.api.qnafree.dto.res.QnaFreeReadDetailResDto">
		SELECT result1.*
		FROM
			(SELECT free_question_num, title, content, viewCount, user_regdate, free_question_writer, delete_YN_code, update_date,
			   LAG(free_question_num, 1, 0) OVER (ORDER BY free_question_num DESC) nextNum,
	   		   LEAD(free_question_num, 1, 0) OVER (ORDER BY free_question_num DESC) prevNum
			 FROM qna_free_question
			 <where>
			 	delete_YN_code='N'
			 	<include refid="searchCondition"/>
			 </where>
			 ) result1
		WHERE free_question_num=#{freeQuestionNum}
	</select>
		
	<insert id="insertQnaFree" parameterType="com.acorn2.plec.api.qnafree.dto.QnaFreeDto">
		INSERT INTO qna_free_question
		(free_question_num,free_question_writer,title,content,viewCount,user_regdate,UPDATE_DATE)
		VALUES(QNA_FREE_QUESTION_seq.NEXTVAL, #{freeQuestionWriter}, #{title}, #{content}, 0, SYSDATE, SYSDATE)
	</insert>
	
	<!-- 게시물 수정 -->
	<update id="updateQnaFree" parameterType="com.acorn2.plec.api.qnafree.dto.QnaFreeDto">
		UPDATE qna_free_question
		<set>
      	<if test="title != null">
      		title = #{title},
      	</if>
      	<if test="content != null">
      		content=#{content},
      	</if>
		update_date=SYSDATE
		</set>
		WHERE free_question_num=#{freeQuestionNum}
	</update>
		
	<!-- 게시물 삭제 처리(Y로 변경) -->
	<update id="deleteUpdateQnaFree" parameterType="int">
		UPDATE qna_free_question
		SET delete_Yn_code='Y'
		WHERE free_question_num=#{freeQuestionNum}
	</update>
	
	<!-- 게시물 삭제(batch) -->
	<delete id="deleteQnaFree" >
      DELETE FROM qna_free_question
      WHERE delete_YN_code='Y'
   </delete>
	
	<update id="answered" parameterType="com.acorn2.plec.api.qnafree.dto.QnaFreeDto">
		UPDATE QNA_FREE_QUESTION
		SET answered_YN='Y'
		WHERE free_question_num=#{freeQuestionNum}
	</update>
	
	<update id="addViewCount" parameterType="Integer">
   		UPDATE QNA_FREE_QUESTION
   		SET viewcount = viewcount+1
   		WHERE free_question_num=#{freeQuestionNum}
   </update>
</mapper>