<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn2.plec.api.qnafreeanswer.dao.QnaFreeAnswerDao">
   
   <select id="selectQnaFreeAnswerList" parameterType="com.acorn2.plec.api.qnafreeanswer.dto.req.QnaFreeAnswerReadReqDto" resultType="com.acorn2.plec.api.qnafreeanswer.dto.res.QnaFreeAnswerReadResDto">
		SELECT
			*
		FROM (
			SELECT
				result1.*
				, ROWNUM AS rnum
			FROM (
				SELECT 
					FREE_COMMENT_NUM
					, FREE_COMMENT_WRITER
					, content
					, FREE_COMMENT_REF_GROUP
					, USER_REGDATE
					, update_date
					, update_id
					, delete_Yn_code
				FROM qna_free_answer
				<where>
					delete_Yn_code='N'
				</where>
				ORDER BY FREE_COMMENT_NUM DESC) result1)
		WHERE rnum BETWEEN #{rowStart} AND #{rowEnd}
	</select>

	<select id="selectQnaFreeAnswerCount" parameterType="com.acorn2.plec.api.qnafreeanswer.dto.req.QnaFreeAnswerReadReqDto" resultType="java.lang.Integer">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM qna_free_answer
		<where>
			delete_Yn_code='N'
		</where>
	</select>

	<select id="selectQnaFreeAnswer" parameterType="com.acorn2.plec.api.qnafreeanswer.dto.req.QnaFreeAnswerReadReqDto" resultType="com.acorn2.plec.api.qnafreeanswer.dto.res.QnaFreeAnswerReadDetailResDto">
		SELECT result1.*
		FROM
			(SELECT FREE_COMMENT_NUM, FREE_COMMENT_WRITER, content, FREE_COMMENT_REF_GROUP, user_regdate, update_date, update_id, delete_YN_code
			FROM qna_free_answer
			<where>
				delete_YN_code='N'
			</where>
			) result1
		WHERE FREE_COMMENT_REF_GROUP=#{freeCommentRefGroup}
	</select>

	<insert id="insertQnaFreeAnswer" parameterType="com.acorn2.plec.api.qnafreeanswer.dto.QnaFreeAnswerDto">
		INSERT INTO qna_free_answer
		(FREE_COMMENT_NUM, FREE_COMMENT_WRITER, content, FREE_COMMENT_REF_GROUP, user_regdate, delete_YN_code)
		VALUES(qna_free_answer_seq.NEXTVAL, #{freeCommentWriter}, #{content}, #{freeCommentRefGroup}, SYSDATE, 'N')
	</insert>

	<update id="updateQnaFreeAnswer" parameterType="com.acorn2.plec.api.qnafreeanswer.dto.QnaFreeAnswerDto">
		UPDATE qna_free_answer
		<set>
			<if test="content != null">
				content=#{content},
			</if>
			update_id=#{updateId},
			update_date=SYSDATE
		</set>
		WHERE FREE_COMMENT_REF_GROUP=#{freeCommentRefGroup}
	</update>

	<update id="deleteUpdateQnaFreeAnswer" parameterType="Integer">
		UPDATE qna_free_answer
		<set>
			delete_Yn_code='Y'
		</set>
		WHERE FREE_COMMENT_REF_GROUP=#{freeCommentRefGroup}
	</update>

	<delete id="deleteQnaFreeAnswer">
		DELETE FROM qna_free_answer
		WHERE delete_YN_code='Y'
	</delete>
</mapper>