<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn2.plec.api.users.dao.UsersDao">
	<sql id="searchCondition">
		<if test="lecUserId != null">
			AND lec_user_id LIKE '%'||#{lecUserId}||'%'
		</if>
		<if test="userBirth != null">
			AND user_birth LIKE '%'||#{userBirth}||'%'
		</if>
		<if test="userPhone != null">
			AND user_phone LIKE '%'||#{userPhone}||'%'
		</if>
		<if test="userEmail != null">
			AND user_email LIKE '%'||#{userEmail}||'%'
		</if>
		<if test="userRegdate != null">
			AND user_regdate LIKE '%'||#{userRegdate}||'%'
		</if>
	</sql>
	
	<select id="selectUsersCount" parameterType="com.acorn2.plec.api.users.dto.req.UsersReadReqDto" resultType="java.lang.Integer">
		SELECT NVL(MAX(ROWNUM), 0)
      	 FROM USERS
        <where>
            manager_yn = 'N'
        	AND general_user_code = 'Y'
        	<include refid="searchCondition"/>
         </where>
	</select>
	
	<select id="selectUsersList" parameterType="com.acorn2.plec.api.users.dto.req.UsersReadReqDto" resultType="com.acorn2.plec.api.users.dto.res.UsersReadResDto">
		SELECT *
      	FROM
         (SELECT result1.*, ROWNUM AS rnum
          FROM
            (SELECT lec_user_id, user_email, user_regdate, user_phone, user_birth, user_nickname
             FROM USERS
             <where>
                manager_yn = 'N'
                AND general_user_code = 'Y'     
                <include refid="searchCondition"/>
			 </where>
             ORDER BY user_regdate DESC) result1)
        WHERE rnum BETWEEN #{rowStart} AND #{rowEnd}
	</select>
	
	<select id="selectUser" parameterType="String" resultType="com.acorn2.plec.api.users.dto.res.UsersReadDetailResDto">
		SELECT lec_user_id, user_pwd, user_email, user_regdate, user_phone, user_birth, user_nickname, manager_yn
        FROM USERS
        WHERE lec_user_id=#{lecUserId}
	</select>
	
	<insert id="insertUser" parameterType="com.acorn2.plec.api.users.dto.req.UsersCreateReqDto">
      INSERT INTO USERS
      (lec_user_id, user_pwd, user_email, user_regdate, user_phone, user_birth, manager_yn, user_nickname, general_user_code)
      VALUES(#{lecUserId}, #{userPwd}, #{userEmail}, SYSDATE, #{userPhone}, #{userBirth}, #{managerYn}, #{userNickname}, 'Y')
   	</insert>
   	
   	<update id="updateUser" parameterType="com.acorn2.plec.api.users.dto.req.UsersUpdateReqDto">
   		UPDATE USERS
   		<set>
   			<if test="userEmail != null">, user_email=#{userEmail}</if>
   			<if test="userPhone != null">, user_phone=#{userPhone}</if>
   			<if test="userNickname != null">, user_nickname=#{userNickname}</if>
   		</set>
   	    WHERE lec_user_id=#{lecUserId}
   	</update>
   	
  	<update id="updateUserPwd" parameterType="com.acorn2.plec.api.users.dto.req.UsersUpdatePwdReqDto">
  		UPDATE USERS
  		SET user_pwd=#{newPwd}
  	    WHERE lec_user_id=#{lecUserId}
   	</update>
   	
   	<update id="updateUserLastDate" parameterType="String">
  		UPDATE USERS
  		SET user_last_date = SYSDATE, REST_USER_CODE='N', general_user_code = 'Y'
  	    WHERE lec_user_id=#{lecUserId}
   	</update>
   	
   	<update id="deleteUpdateUser" parameterType="String">
  		UPDATE USERS
  		SET withdrewal_user_code='Y', general_user_code = 'N'
  	    WHERE lec_user_id=#{lecUserId}
   	</update>
   
   	<update id="updateRestUser">
  		UPDATE USERS
		SET REST_USER_CODE='Y', general_user_code = 'N'
		WHERE USER_LAST_DATE <![CDATA[ <= ]]> (SELECT to_char(add_months(sysdate,-12),'YYYY-MM-DD') YearAgo
								FROM DUAL);
   	</update>
   	
   	<delete id="deleteUser">
   		DELETE FROM USERS
   		WHERE withdrewal_user_code ='Y'
   	</delete>
   	
   	

</mapper>










